
.App {
  text-align: center;
}

#nav {
  background-color: azure;
  height: 64px;
}

#nav_main .container {
  max-width: 2007px;
  margin-left: 7rem;
  margin-right: 7rem;
  padding: 0px;
}

#main .main_main .container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 2007px;
  margin-left: 7rem;
  margin-right: 7rem;
  padding: 0px;
}

.main-logo {
  margin-top: 10px;
  margin-left: 70px;
  margin-right: 50px;
  margin-bottom: 16px;
  height: 35px;
  width: 120px;
  background-image: url('./img/0cf1d10235c37b2635c02719125da37cc1bd632518198b1e1da7f5a364156540.png');
	background-size: 120px;
  background-position: center;
  background-repeat: no-repeat;
}

a.nav-link{
  font-size: 1.5rem;
}

.orange.nav-link{
  color : orange;
}

div.mb-3{
  display : flex; 
  margin-right : 15rem;
}

div.mb-3 > input{
  width: 300px;
  height: 50px;
  margin-right: 1rem;
  margin-top: 1rem;
}

div.mb-3 > button{
  width: 100px;
  height: 50px;
  margin-top: 1rem;
}

.login_button{
  margin-top: 5rem;
  width: 9rem;
  height: 4rem;
  font-size: 1.2rem !important;
}