

.login_main{
    background-image: url('../img/trust.png');
    height: 300px;
	background-size: cover;
    background-position: center;
    height :100vh;
    overflow: hidden !important;
}

.login_main > .panel{
    position: absolute;
    top: 55%;
    left: 87%;
    transform: translate(-50%, -50%);
}

.phone_input{
    width: 300px;
    margin : 0 !important;
}

button{
    width: 300px;
}